{% extends "base.html" %}

{% block title %}registro{% endblock %}

{% block contenido %}
    <main>
        <form class="form-contenedor border p-4 mx-auto my-4">
            <h2 class="text-center fw-bold mb-4">Registro de Usuario</h2>

            <div class="mb-3">
                <label for="runR" class="form-label">RUN:</label>
                <input type="text" id="runR" name="runR" minlength="7" maxlength="9" required class="form-control">
            </div>

            <div class="mb-3">
                <label for="nombreR" class="form-label">Nombre Completo:</label>
                <input type="text" id="nombreR" name="nombreR" maxlength="50" required class="form-control">
            </div>

            <div class="mb-3">
                <label for="apellidosR" class="form-label">Apellidos:</label>
                <input type="text" id="apellidosR" name="apellidosR" maxlength="100" required class="form-control">
            </div>

            <div class="mb-3">
                <label for="emailR" class="form-label">Correo:</label>
                <input type="email" id="emailR" name="emailR" maxlength="100" required class="form-control">
            </div>

            <div class="mb-3">
                <label for="Fecha_nacimientoR" class="form-label">Fecha de Nacimiento:</label>
                <input type="date" id="Fecha_nacimientoR" name="Fecha_nacimientoR" class="form-control">
            </div>

            <div class="mb-3">
                <label for="contrasenaR" class="form-label">Contraseña:</label>
                <input type="password" id="contrasenaR" name="contrasenaR" minlength="4" maxlength="10" required class="form-control">
            </div>

            <div class="mb-3">
                <label for="confirmar_contrasenaR" class="form-label">Confirmar Contraseña:</label>
                <input type="password" id="confirmar_contrasenaR" name="confirmar_contrasenaR" minlength="4" maxlength="10" required class="form-control">
            </div>

            <div class="mb-3">
                <label for="telefonoR" class="form-label">Teléfono:</label>
                <input type="tel" id="telefonoR" name="telefonoR" maxlength="15" class="form-control">
            </div>

            <div class="mb-3">
                <select id="regionR" name="regionR" required class="form-select">
                    <option value="">Seleccione la región</option>
                </select>
            </div>

            <div class="mb-3">
                <select id="comunaR" name="comunaR" required class="form-select">
                    <option value="">Seleccione la comuna</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="direccionR" class="form-label">Dirección:</label>
                <input type="text" id="direccionR" name="direccionR" maxlength="300" required class="form-control">
            </div>

            <div class="text-center">
                <button type="button" onclick="validarRegistro()" class="btn btn-dark px-4">Registrar</button>
            </div>
        </form>
    </main>
{% endblock %}

{% block scripts %}
    <script
        src="{{ url_for('static', filename='js/usuarios.js') }}"
        defer>
    </script>

    <script
        src="{{ url_for('static', filename='js/registro.js') }}"
        defer>
    </script>
{% endblock %}
